<nz-card nzTitle="{{data.operation}} User">
  <div class="element">
    <form (ngSubmit)="submit()" [formGroup]="userGroup" nz-form>
      <nz-form-item>
        <nz-form-control nzErrorTip="First Name!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="firstName" id="firstName" name="firstName" nz-input placeholder="First Name"
                   required type="text"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Last Name!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="lastName" id="lastName" name="lastName" nz-input placeholder="Last Name" required
                   type="text"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Username!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="username" id="username" name="username" nz-input placeholder="Username" required
                   type="text"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="mail">
            <input formControlName="email" id="email" nz-input placeholder="Email" required type="email"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="The input is user role!">
          <nz-input-group nzPrefixIcon="setting">
            <nz-select formControlName="role" nzAllowClear nzShowSearch nzPlaceHolder="Role" required>
              <nz-option nzValue="ROLE_USER" nzLabel="User"></nz-option>
              <nz-option nzValue="ROLE_HR" nzLabel="Hr"></nz-option>
              <nz-option nzValue="ROLE_MANAGER" nzLabel="Manager"></nz-option>
              <nz-option *ngIf="auth.isSuperAdmin" nzValue="ROLE_ADMIN" nzLabel="Admin"></nz-option>
              <nz-option *ngIf="auth.isSuperAdmin" nzValue="ROLE_SUPER_ADMIN" nzLabel="Super Admin"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="text-center m-3">
        <div class="text-center m-3">
          <img [nzSrc]="imageUrl" alt="..." class="img-thumbnail img-fluid rounded-circle" height="80" nz-image
               width="80"/>
        </div>
        <div class="d-grid gap-1">
          <input #fileInput (change)="fileUploads($event)"
                 style="display: none" type="file">
          <button (click)="fileInput.click()" class="btn btn-primary mb-2 btn-sm btn-round waves-effect waves-light"
                  type="button"><i class="fa fa-upload"></i> Select File
          </button>
          <button (click)="basicRemoveImage()" *ngIf='showRemoveButton'
                  class="btn btn-danger btn-sm btn-round waves-effect waves-light document-attachment-remove-btn"
                  data-dismiss="inputfile" type="button"><i class="fa fa-times"></i> Remove
          </button>
        </div>
      </div>
      <nz-form-item class="register-area my-2" nz-row>
        <nz-form-control>
          <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="register-area my-2" nz-row>
        <nz-form-control>
          <mat-slide-toggle formControlName="isNonLocked">Unlocked</mat-slide-toggle>
        </nz-form-control>
      </nz-form-item>
      <div class="text-center my-4">
        <button class="save-button" nz-button
                nzType="primary">{{data.operation == "Create" ? "Create" : "Update"}}
        </button>
        <button class="mx-3" mat-dialog-close="true" nz-button nzType="default" type="button">
          <i class="fa fa-times"></i>&nbsp;Close
        </button>
      </div>
    </form>
  </div>
</nz-card>
