<nz-card [nzExtra]="createUser" nzTitle="User Management">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap">
        <nz-input-group [nzPrefix]="suffixIconSearch" class="my-2" style="max-width: 400px;">
          <input (ngModelChange)="searchByFirstname($event)" [(ngModel)]="searchValueForFirstName"
                 nz-input oninput="this.value = this.value.toUpperCase()" placeholder="First Name"
                 type="text"/>
          <input (ngModelChange)="searchByLastName($event)" [(ngModel)]="searchValueForLastName"
                 nz-input oninput="this.value = this.value.toUpperCase()" placeholder="Last Name"
                 type="text"/>
          <input (ngModelChange)="searchByUsername($event)" [(ngModel)]="searchValueForUsername"
                 nz-input oninput="this.value = this.value.toUpperCase()" placeholder="Username"
                 type="text"/>
          <input (ngModelChange)="searchByEmail($event)" [(ngModel)]="searchValueForEmail"
                 nz-input oninput="this.value = this.value.toUpperCase()" placeholder="Email"
                 type="text"/>
        </nz-input-group>
        <div class="my-2">
          Show
          <select (ngModelChange)="itemsOnChange($event)" [(ngModel)]="itemsPerPage">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="10000">All</option>
          </select>
          entries
        </div>
      </div>
    </div>
    <div class="col-md-12 my-2">
      <div class="table-responsive">
        <table class="table table-sm text-center">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Account</th>
            <th scope="col">Join Date</th>
            <th *ngIf="auth.isHR" scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userList| paginate: {
                        currentPage: pageOffset,
                        itemsPerPage: itemsPerPage,
                        totalItems: totalItems
                        } ; index as i;" class="align-middle">
            <td>{{i + 1}}</td>
            <td><img [nzSrc]="user.profileImageUrl" class="rounded-circle img-fluid img-thumbnail" height="30" nz-image
                     width="30"></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
              <span
                class="{{user.active == true ? 'badge bg-success' : 'badge bg-danger'}}">{{user.active == true ? 'Active' : 'Inactive'}}</span>
            <td>
              <i
                class="{{user.notLocked == true ? 'fa-solid fa-lock-open text-success' : 'fa-solid fa-lock text-danger'}}"></i>
            <td>{{user.joiningDate | date: 'short' || 'N/A'}}</td>
            <td><span *ngIf="auth.isAdmin" class="cursor-pointer" (click)="edit(user)"><i class="fa-solid fa-pen-clip text-info"></i>
            <nz-divider nzType="vertical"></nz-divider></span>
              <span *ngIf="auth.isSuperAdmin" (nzOnConfirm)="delete(user.username)" nz-popconfirm
                    nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this user?"><i
                class="fa fa-trash fa-1x text-danger"></i>
              <nz-divider nzType="vertical"></nz-divider></span>
              <span *ngIf="auth.isHR" (nzOnConfirm)="resetPassword(user.email)" nz-popconfirm="" nz-tooltip="Reset user password"
                    nzPopconfirmPlacement="top" nzOkText="OK" nzCancelText="Cancel"
                    nzPopconfirmTitle="Are you sure to reset this password? A new password will be sent to {{user.email}}"><i
                class="fa-solid fa-recycle fa-1x"></i>
               <nz-divider nzType="vertical"></nz-divider></span>
            </td>
          </tr>
          </tbody>
        </table>
        <nz-empty *ngIf="!userList"></nz-empty>
        <div class="d-flex justify-content-between">
          <p>Total Records: {{totalItems}}</p>
          <pagination-controls (pageChange)="pageChange($event)" class="pull-right"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <ng-template #createUser>
    <a (click)="create()" *ngIf="auth.isAdmin" class="btn-sm btn-color"><i class="fa fa-plus"></i>&nbsp;Create</a>
  </ng-template>
</nz-card>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
