<nz-layout class="app-layout">
  <nz-sider [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            class="menu-sidebar"
            nzBreakpoint="md"
            nzCollapsible
            nzWidth="256px">
    <div class="sidebar-logo">
      <a routerLink="dashboard">
        <img alt="logo" src="">
        <h1>Jaber</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <li *ngIf="auth.exceptUser" nz-submenu nzIcon="team" nzTitle="Users Management">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a nzIcon="user" routerLink="/dashboard/user">Users List</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul [nzInlineCollapsed]="isCollapsed"
        nz-menu nzMode="inline" nzTheme="dark">
<!--      Menus-->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
         <i class="fa-solid fa-bars"></i>
        </span>
        <span class="float-end px-4 nav-dropdown-opacity">
          <a [nzDropdownMenu]="menu" class="nav-dropdown" nz-dropdown nzTrigger="click">
            <span>{{auth.getUserRole().split('ROLE_')[1]}}</span>
            <i class="fa-solid fa-caret-down mx-1" nzType="down"></i></a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul class="selectable-menu float-right" nz-menu nzSelectable>
          <li class="user-header">
              <img nz-image class="avatar-img" [nzSrc]="auth.getUserFromLocalCache().profileImageUrl">
             <p class="text-white font-weight-bold">{{auth.getUserFromLocalCache().email}}</p>
          </li>
                  <li class="user-body d-flex justify-content-between" id="btn-section">
<!--                      <div class="pull-left">-->
                    <!--                          <a class="btn btn-block btn-success"><i-->
                    <!--                            class="fa fa-cog"></i>&nbsp;Change password</a>-->
                    <!--                      </div>-->
                      <div class="pull-right">
                          <a (click)="logout()" class="btn btn-block btn-danger"><i
                            class="fa fa-power-off"></i>&nbsp;Sign out</a>
                      </div>
                  </li>
      </ul>
    </nz-dropdown-menu>
          </span>
      </div>
      <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

