.content-wrapper > .content {
  padding: 19px 1.5rem !important;
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: auto;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.header-trigger {
  height: 50px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #337ab7;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 50px;
  padding: 0;
  background: #3c8dbc;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

ul li {
  margin-left: 5px;
  list-style: none;
}

ul li:first-child {
  margin-left: 0;
}

.ant-layout-header {
  height: 50px !important;
  line-height: 50px;
  color: white;
}

.icon-size {
  font-size: 14px;
}

.nav-dropdown {
  font-weight: normal;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.nav-dropdown-opacity {
  background: rgba(0, 0, 0, 0.1);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.user-header {
  background-color: #3c8dbc;
}

li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}

.avatar-img {
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
  border: 3px solid #73b0e2;
}

.selectable-menu {
  width: 350px;
}

.ant-dropdown-menu {
  padding: 0;
}

.ant-dropdown {
  top: 15px !important;
  left: 24px !important;
  position: relative;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.ant-layout-sider-collapsed {
  min-width: 50px !important;
  max-width: 50px !important;
  width: 50px !important;
}

.sidebar-logo {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #3c8dbc;
  padding-left: 5px;
}

[nz-menu] {
  background-color: #222d32;
}

[nz-menu-item] {
  background-color: #222d32;
  text-decoration: none;
  margin: 0;
  height: 35px;

  padding-bottom: 0;
}

[nz-menu-item] > a {
  text-decoration: none;
  margin: 0;
}

ul.ng-star-inserted {
  background-color: #222d32;
}

.ant-layout {
  padding-bottom: 0;
}

.ant-menu-item {
  margin-bottom: 0 !important;
}

.button {
  background: #3c8dbc;
  color: #3c8dbc;
}

.loader-container {
  position: relative;
  display: block;
  width: 100%;
  z-index: 99;
}
