<div class="mt-100 me-auto ms-auto pb-5 element" style="width: 500px;">
  <mat-card class="mat-elevation-z3">
    <mat-card-title class="text-center ps-3 pt-5 pe-3">Register a new Account</mat-card-title>
    <mat-card-content class="p-4">
      <form (ngSubmit)="register()" [formGroup]="registerFormGroup">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100 pb-2">
                  <mat-label>First Name</mat-label>
                  <input formControlName="firstName" matInput placeholder="ex. John" type="text">
                  <mat-error *ngIf="formControls['firstName'].hasError('required')">
                    First Name is <b>required</b>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100 pb-2">
                  <mat-label>Last Name</mat-label>
                  <input formControlName="lastName" matInput placeholder="ex. Doe" type="text">
                  <mat-error *ngIf="formControls['lastName'].hasError('required')">
                    Last Name is <b>required</b>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100 pb-2">
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput placeholder="ex. johndoe5698" type="text">
              <mat-error *ngIf="formControls['username'].hasError('required')">
                Username is <b>required</b>
              </mat-error>
              <mat-error *ngIf="formControls['username'].hasError('minlength', 'maxlength')">
                Username must be 4 to 15 characters long
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100 pb-2">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Johndoe@gmail.com" type="email">
              <mat-error *ngIf="formControls['email'].hasError('required')">
                Email is <b>required</b>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions>
          <div class="d-grid gap-2">
            <button [disabled]="!registerFormGroup.valid" class="w-100" color="primary" mat-raised-button>Register
            </button>
            <button class="w-100" color="accent" mat-raised-button routerLink="/login" type="button">Login</button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
