.element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0 0 !important;
}
