/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

body:not(.layout-fixed) .main-sidebar {
  height: inherit;
  min-height: 100%;
  position: fixed !important;
  top: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-form-field {
  font-size: 11px;
}

.ngx-pagination .current {
  background: #001529 !important;
  border-radius: 50%;
}

.table > thead {
  background: #001529;
  color: white;
}

.btn-color {
  background: #001529;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-color:hover {
  color: white;
}

nz-form-item.ant-form-item {
  transition: none;
  margin: 5px;
}
